<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wir haben, was Sie suchen!</h2>
                <hr class="light">
                <p class="text-faded">Wir sind Marion und Klaus Weber, Eltern zweier mittlerweile erwachsener Kinder. 
                    Unser 2-Familienhaus ist daher mittlerweile zu groß für uns alleine, 
                    so dass wir die Wohnung im Vorderhaus gerne an Monteure, Praktikanten oder Feriengäste vermieten.
      
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
