<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Sie wollen die Wohnung oder eines unserer Zimmer buchen? Prima! Rufen Sie uns an oder schreiben Sie uns eine E-Mail
                und wir werden uns so schnell wie möglich mit Ihnen in Verbindung setzen!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:ferienwohnung-dettenheim@web.de">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
